a {color: black;}
body{background-color: antiquewhite;}
#other {color: #972424;}
.title{color: #575555;
text-align: center;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.center{text-align: center;}
.nav-button {
    background-color: black;  
    color: rgb(121, 111, 111);   
    padding: 2px 5px;     
    margin: 2px;              
    text-decoration: none;    
    display: inline-block;
}